@model WebUI.Models.ContatoViewModel

<form>
    <input asp-for="Id" hidden>
    <div class="form-group">
        <label asp-for="Nome">@Html.DisplayNameFor(model => model.Nome)</label>
        <input asp-for="Nome" class="form-control" disabled/>
    </div>
    <div class="form-group">
        <label asp-for="SobreNome">@Html.DisplayNameFor(model => model.SobreNome)</label>
        <input asp-for="SobreNome" class="form-control" disabled/>
    </div>
    <div class="form-group">
        <label asp-for="Email">@Html.DisplayNameFor(model => model.Email)</label>
        <input asp-for="Email" class="form-control" disabled/>
    </div>
</form>

<a asp-controller="Telefone" asp-action="Create" asp-route-id="@Model.Id">Adicionar Telefone</a>
<a asp-controller="Contato" asp-action="Index" asp-route-id="@Model.Id">Voltar</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LstTelefoneViewModel[0].Numero)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.LstTelefoneViewModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
            </td>
        </tr>
    }
    </tbody>
</table>